version: "3.8"

services:
  docker-socket-proxy:
    image: tecnativa/docker-socket-proxy:latest
    environment:
      - CONTAINERS=1
      - NETWORKS=1
      - SERVICES=1
      - TASKS=1
      - SWARM=1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - traefik-public
    deploy:
      placement:
        constraints:
          - node.role == manager

  traefik:
    image: traefik:v3.1
    command:
      - --providers.swarm.endpoint=tcp://docker-socket-proxy:2375
      - --providers.swarm.exposedbydefault=false
      - --providers.swarm.network=traefik-public
      - --providers.file.filename=/dynamic/tls.yml
      - --providers.file.watch=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      - --api.dashboard=true
      - --api.insecure=false
      - --log.level=INFO
      - --accesslog=true

    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: ingress
      - target: 443
        published: 443
        protocol: tcp
        mode: ingress

    networks:
      - traefik-public

    volumes:
      - ./dynamic:/dynamic:ro

    secrets:
      - cloudflare_origin_crt
      - cloudflare_origin_key
      - traefik_admin

    deploy:
      placement:
        constraints:
          - node.role == manager

      labels:
        - traefik.enable=true
        - traefik.http.services.traefik-traefik.loadbalancer.server.port=8080
        - traefik.http.routers.traefik.rule=Host(`${TRAEFIK_DOMAIN}`)
        - traefik.http.routers.traefik.entrypoints=websecure
        - traefik.http.routers.traefik.tls=true
        - traefik.http.routers.traefik.service=api@internal
        - traefik.http.middlewares.traefik-auth.basicauth.usersFile=/run/secrets/traefik_admin
        - traefik.http.routers.traefik.middlewares=traefik-auth

networks:
  traefik-public:
    external: true

secrets:
  cloudflare_origin_crt:
    external: true
  cloudflare_origin_key:
    external: true
  traefik_admin:
    external: true
